table(class="table table-striped")
  thead
    tr
      th(class="text-center", colspan="3")
        input(class="pull-left", type="checkbox", ng-model="vm.group.selected")
        span {{ vm.group.name }}
  tbody
    tr
      td(colspan="3")
        p {{ 'DESCRIPTION' | translate }}:
          | {{ vm.group.description }}
    tr
      th {{ 'NAME' | translate }}
      th {{ 'QUANTITY' | translate }}
      th {{ 'PRICE_PER_PRODUCT' | translate }}
    tr(ng-repeat="product in vm.group.products")
      td {{ product.name }}
      td {{ product.quantity }}
      td ${{ product.price_per_unit }}
    tr
      th
      th {{ 'TOTAL' | translate }}
      th ${{ vm.group.total }}
  tfoot
    tr
      td(colspan="3")
        button(class="btn btn-primary btn-block") {{ 'BUILD' | translate }}