div(class="product-group-card")
  div(class="table-responsive")
    table(class="table table-striped")
      thead
        tr
          th(class="text-center", colspan="3")
            input(class="pull-left", type="checkbox", ng-model="vm.group.selected")
            span {{ vm.group.name }}
            button(class="btn btn-primary pull-right", ng-click="vm.toggleShowDetails()")
              span(class="glyphicon", ng-class="{ 'glyphicon-chevron-right': vm.showDetails, 'glyphicon-chevron-down': !vm.showDetails}")
      tbody(ng-show="vm.showDetails")
        tr
          td(colspan="3")
            strong {{ 'DESCRIPTION' | translate }}:
            | {{ vm.group.description }}
        tr
          th {{ 'NAME' | translate }}
          th {{ 'REQUIRED_QUANTITY' | translate }}
          th {{ 'PRICE_PER_PRODUCT' | translate }}
        tr(ng-repeat="product in vm.group.products")
          td {{ product.name }}
          td {{ product.required_quantity }}
          td ${{ product.price }}
        tr
          th
          th {{ 'TOTAL' | translate }}
          th ${{ vm.group.total }}