div(class="dashboard-section")
  div(class="row")
    div(class="col-md-12")
      div(class="page-error-container")
        div(class="page-error-content")
          div(class="error-code") 404
          h4(class="text-center title") {{ '404' | translate }}
