div(class=".col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
  h1(class="page-header") {{ 'DASHBOARD' | translate }}
  div(class="row placeholders")
    div(class="col-xs-6 col-sm-3 placeholder")
      img(class="img-responsive", src="http://placehold.it/200x200", alt="Generic placeholder thumbnail")
      h4 Label
      span(class="text-muted") Something else
    div(class="col-xs-6 col-sm-3 placeholder")
      img(class="img-responsive", src="http://placehold.it/200x200", alt="Generic placeholder thumbnail")
      h4 Label
      span(class="text-muted") Something else
    div(class="col-xs-6 col-sm-3 placeholder")
      img(class="img-responsive", src="http://placehold.it/200x200", alt="Generic placeholder thumbnail")
      h4 Label
      span(class="text-muted") Something else
    div(class="col-xs-6 col-sm-3 placeholder")
      img(class="img-responsive", src="http://placehold.it/200x200", alt="Generic placeholder thumbnail")
      h4 Label
      span(class="text-muted") Something else
  h2(class=".sub-header") Section title
  div(class="table-responsive")
    table(class="table table-striped")
      thead
        tr
          th #
          th Header
          th Header
          th Header
          th Header
      tbody
        tr
          td 1,001
          td Lorem
          td ipsum
          td dolor
          td sit
        tr
          td 1,002
          td amet
          td consectetur
          td adipiscing
          td elit
