.sidebar {
  background-color: $color-primary;
  display: inline-block;
  float: left;
  height: 100vh;
  padding: 20px 0px 0px 0px;

  .logo {
    height: auto;
    margin: 0 auto;
    padding: 20px;
    width: 170px;
  }

  li {
    text-align: center;
    font-size: 15px;

    &.active {
      a {
        background: $color-bg;
        color: $color-primary;
      }

      a:hover {
        background: $color-bg;
        color: $color-primary;
      }
    }

    a {
      color: $color-bg;
    }

    a:hover {
      background: $color-primary;
      color: darken($color-bg, 20%);
    }
  }
}
