.sidebar {
  background-color: $color-primary;
  padding: 20px 0px 0px 0px;

  .logo {
    height: auto;
    margin: 0 auto;
    max-width: 200px;
    padding: 20px;
    width: 100%;
  }

  li {
    font-size: 15px;
    text-align: center;

    &.active {
      a, a:focus {
        background: $color-bg;
        color: $color-primary;
      }

      a:hover {
        background: $color-bg;
        color: $color-primary;
      }
    }

    a {
      color: $color-bg;
    }

    a:focus {
      background: $color-primary;
      color: darken($color-bg, 20%);
    }

    a:hover {
      background: $color-primary;
      color: darken($color-bg, 20%);
    }
  }
}
