$color-primary: #333;
$color-bg: lighten(#A89589, 30%);

// Bootstrap overwrites
$brand-primary: $color-primary !default;
$body-bg: $color-bg !default;
$nav-tabs-border-color: $color-primary !default;
$text-color: $color-primary !default;
$table-bg-accent: darken($color-bg, 10%) !default;
