@import "variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "main";
@import "sidebar";

a {
    cursor: pointer;
}

.container-fluid {
  padding: 20px;
}

ul.dropdown-menu > li > a {
  cursor: pointer;
}

.modal-header {
  color: $color-bg;
  background-color: $color-primary;
}

.table-responsive {
  margin-top: 20px;
  table {
    thead {
      tr:first-child {
        background: $color-primary;
        color: $color-bg;
      }
    }
    tbody {
      tr.header {
        background: $color-primary;
        color: $color-bg;
      }
    }
  }
}
