form(class="form-horizonal", ng-submit="vm.confirm()", novalidate)
  div(class="modal-header")
    h3(class="modal-title") {{ 'EDIT_PASSWORD' | translate }}
  div(class="modal-body")
    div(class="row")
      div(class="col-sm-12")
        div(class="row form-group")
          label(class="col-sm-5", for="newPassword1") {{ 'NEW_PASSWORD' | translate }}:
          div(class="col-sm-5")
            input(class="form-control", id="newPassword1", ng-model="vm.password1", type="password", placeholder="{{ 'NEW_PASSWORD' | translate }}")
        div(class="row form-group")
          label(class="col-sm-5", for="newPassword2") {{ 'REPEAT_NEW_PASSWORD' | translate }}:
          div(class="col-sm-5")
            input(class="form-control", id="newPassword2", ng-model="vm.password2", type="password", placeholder="{{ 'NEW_PASSWORD' | translate }}")

  div(class="modal-footer")
    button(class="btn btn-primary", type="submit") {{ 'CONFIRM' | translate }}
    button(class="btn btn-warning", type="button", ng-click="vm.cancel()") {{ 'CANCEL' | translate }}
