form.form-horizonal(ng-submit='vm.confirm()', novalidate)
	.modal-header
		h3.modal-title {{ 'EDIT_PASSWORD' | translate }}
	.modal-body
		.row
			.col-sm-12
				.row.form-group
					label.col-sm-5(for="newPassword1") {{ 'NEW_PASSWORD' | translate }}:
					.col-sm-5
						input#newPassword1.form-control(ng-model='vm.password1', type='password', placeholder="{{ 'NEW_PASSWORD' | translate }}")
				.row.form-group
					label.col-sm-5(for="newPassword2") {{ 'REPEAT_NEW_PASSWORD' | translate }}:
					.col-sm-5
						input#newPassword2.form-control(ng-model='vm.password2', type='password', placeholder="{{ 'NEW_PASSWORD' | translate }}")

	.modal-footer
		button.btn.btn-primary(type='submit') {{ 'CONFIRM' | translate }}
		button.btn.btn-warning(ng-click='vm.cancel()') {{ 'CANCEL' | translate }}
