div(class="sale-section")
  div(class="header-secondary row")
    div(class="col-md-12")
      div(class="page-heading clearfix")
        h1(class="page-title pull-left") {{ 'TRANSACTIONS' | translate }}
  div(class="row")
    div(class="col-md-12")
      transaction-wizard(type="sale")
