div(class="transaction-section")
  div(class="header-secondary row")
    div(class="col-md-12")
      div(class="page-heading clearfix")
        h1(class="page-title pull-left") {{ 'TRANSACTIONS' | translate }}

  div(class="row", ng-repeat="transaction in vm.fileredTransactions = (vm.transactionsHistory | filter: vm.queryTransactions)")
    div(class="col-md-12")
      transaction-history(transaction="transaction")
  div(class="row", ng-hide="vm.fileredTransactions.length")
    div(class="col-md-12")
      h3(class="text-center") {{ 'NO_TRANSACTIONS_FOUND' | translate }}
