div(class="transaction-section")
  div(class="header-secondary row")
    div(class="col-md-12")
      div(class="page-heading clearfix")
        h1(class="page-title pull-left") {{ 'TRANSACTIONS_HISTORY' | translate }}
  div(class="panel panel-primary")
    div(class="panel-heading clearfix")
      div(class="panel-title") {{ 'TRANSACTION_LIST' | translate }}
    div(class="panel-body")
      transaction-history(transactions="vm.transactions")
