div(class="transaction-detail")
  div(class="header-secondary row")
    div(class="col-md-12")
      div(class="page-heading clearfix")
        h1(class="page-title pull-left") {{ 'TRANSACTION' | translate }}
  transaction(transaction="vm.transaction")
