div(class="cards-container box-view grid-view")
  div(class="row")
    div(class="col-lg-3 col-sm-6", ng-repeat="transaction in vm.transactions")
      div(class="card")
        div(class="card-header")
          div(class="card-photo")
            img(class="img-circle", src="https://placehold.it/100x100")
          div(class="card-short-description")
            h5
              span(class="user-name")
                a(href="") {{ transaction.name }}
            p
              span(class="badge badge-danger", ng-show="transaction.type === 'purchase'") {{ 'PURCHASE' | translate }}
              span(class="badge badge-success", ng-show="transaction.type === 'sale'") {{ 'SALE' | translate }}
        div(class="card-content")
          p
            strong {{ 'CREATED_AT' | translate }}: 
            | {{ transaction.date || 'N/A' }}
          p
            strong {{ 'DESCRIPTION' | translate }}: 
            | {{ transaction.description || 'N/A' }}
          p
            strong {{ 'TOTAL' | translate }}: 
            | ${{ transaction.voucher.total }}
        div(class="card-footer clearfix")
          ul(class="list-inline")
            li
              a(href="", ui-sref="transactions-detail({transactionID: transaction.id})")
                i(class="icon-eye")
            li
              a(href="", ng-click="vm.deleteTransaction(transaction.id)")
                i(class="icon-trash")

div(class="row", ng-hide="vm.transactions.length")
  div(class="col-md-12")
    h2(class="text-center") {{ 'NO_TRANSACTIONS_FOUND' | translate }}
