form.form-horizonal(name='form', ng-submit='vm.create()', novalidate)
	.modal-header
		h3.modal-title {{ 'CREATE_UOM' | translate }}
	.modal-body
		.row
			.col-sm-6
				.row.form-group
					label.col-sm-4(for="name") {{ 'NAME' | translate }}:
					.col-sm-7
						input#name.form-control(required, ng-model='vm.name', type='text', placeholder="{{ 'NAME' | translate }}")
				.row.form-group
					label.col-sm-4(for="description") {{ 'DESCRIPTION' | translate }}:
					.col-sm-7
						textarea#description.form-control(ng-model='vm.description', type='text', placeholder="{{ 'DESCRIPTION' | translate }}")
	.modal-footer
		button.btn.btn-primary(type='submit') {{ 'CREATE' | translate }}
		button.btn.btn-warning(type='button', ng-click='vm.cancel()') {{ 'CANCEL' | translate }}
