form(class="form-horizonal", name="form", ng-submit="vm.confirm()")
  div(class="modal-header")
    h3(class="modal-title") {{ vm.titleMsg }}
  div(class="modal-body")
    div(class="row")
      div(class="col-sm-12")
        h4 {{ vm.bodyMsg }}
  div(class="modal-footer")
    button(class="btn btn-primary btn-lg", type="submit") {{ vm.confirmBtnMsg }}
    button(class="btn btn-default btn-lg", ng-click="vm.cancel()") {{ vm.cancelBtnMsg }}
