nav(class="navbar navbar-inverse navbar-fixed-top")
  div(class="container-fluid")
    div(class="navbar-header")
      button(class="navbar-toggle collapsed", type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span(class="icon-bar")
      a(class="pull-left", ui-sref="dashboard")
        img(src="http://placehold.it/150x50")
      a(class="navbar-brand", ui-sref="users") &nbsp;/
        | {{ vm.currentUser.username }}
    div(class="navbar-collapse collapse")
      ul(class="nav navbar-nav navbar-right")
        li
        li(ng-class="{ active : $state.current.parent == 'template'}")
          a(href="", ui-sref="dashboard") {{ 'DASHBOARD' | translate }}
        li(ng-class="{ active : $state.current.name == 'users' }")
          a(href="", ui-sref="users") {{ 'USERS' | translate }}
        li(ng-class="{ active : $state.current.name == 'settings' }")
          a(href="", ui-sref="settings") {{ 'SETTINGS' | translate }}
        li
          a(href="", ng-click="vm.logOut()") {{ 'LOGOUT' | translate }}
