.row
	.col-sm-3.col-sm-offset-4
		h1 {{ 'APP_NAME' | translate }}

		form
			.form-group
				label(for='email') {{ 'USERNAME' | translate }}:
				input#email.form-control(tabindex="1", type='email', placeholder="{{ 'EMAIL' | translate }}", ng-model="vm.username")
			.form-group
				label(for='password') {{ 'PASSWORD' | translate }}:
				input#password.form-control(tabindex="2", type='password', placeholder="{{ 'PASSWORD' | translate }}", ng-model="vm.password")
			button.btn.btn-primary.btn-block(type="submit", ng-click="vm.logIn()")  {{ 'LOG_IN' | translate }}