ul.nav.nav-sidebar.col-sm-3.col-md-2.sidebar
	li(ng-class="{ active : $state.current.name == 'dashboard' }", ui-sref='dashboard')
		a(href='') {{ 'DASHBOARD' | translate }}
	li(ng-class="{ active : $state.current.name == 'inventory' }", ui-sref='inventory')
		a(href='') {{ 'INVENTORY' | translate }}
	li(ng-class="{ active : $state.current.name == 'directory' || $state.current.name == 'directory.detail' }", ui-sref='directory')
		a(href='') {{ 'DIRECTORY' | translate }}
