ul(class="nav nav-sidebar col-sm-3 col-md-2 sidebar")
  li(ng-class="{ active : $state.current.name == 'dashboard' }", ui-sref="dashboard")
    a(href="") {{ 'DASHBOARD' | translate }}
  li(ng-class="{ active : $state.current.name == 'inventory' }", ui-sref="inventory")
    a(href="") {{ 'INVENTORY' | translate }}
  li(ng-class="{ active : $state.current.name == 'products' }", ui-sref="products")
    a(href="") {{ 'PRODUCTS' | translate }}
  li(ng-class="{ active : $state.current.name == 'sales' }", ui-sref="sales")
    a(href="") {{ 'SALES' | translate }}
  li(ng-class="{ active : $state.current.name == 'purchases' }", ui-sref="purchases")
    a(href="") {{ 'PURCHASES' | translate }}
  li(ng-class="{ active : $state.current.name == 'clients' || $state.current.name == 'clients.detail' }", ui-sref="clients")
    a(href="") {{ 'CLIENTS' | translate }}
