div(class="signup-view")
	div(class="row")
		div(class="col-sm-6 col-sm-offset-3")
			div(class="jumbotron")
				div(class="row")
					div(class="col-sm-10 col-sm-offset-1")
						h2 {{ 'SIGN_UP' | translate }}
						form(name="form", ng-submit="vm.create()", novalidate)
							div(class="form-group has-feedback", ng-class="{ 'has-error': (form.company.$touched && form.company.$error.required), 'has-success': form.company.$valid }")
								input(class="form-control input-lg", id="company", name="company", required, ng-model="vm.company", type='text', placeholder="{{ 'COMPANY' | translate }}")
								span(class="help-block", ng-show="form.company.$touched && form.company.$error.required") *{{ 'FIELD_REQUIRED' | translate }}
								span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true", ng-show="form.company.$invalid && form.company.$touched")
								span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true", ng-show="form.company.$valid")

							div(class="form-group has-feedback", ng-class="{ 'has-error': (form.firstName.$touched && form.firstName.$error.required), 'has-success': form.company.$valid }")
								input(class="form-control input-lg", id="firstName", name="firstName", required, ng-model='vm.firstName', type='text', placeholder="{{ 'FIRST_NAME' | translate }}")
								span(class="help-block", ng-show="form.firstName.$touched && form.firstName.$error.required") *{{ 'FIELD_REQUIRED' | translate }}
								span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true", ng-show="form.firstName.$invalid && form.firstName.$touched")
								span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true", ng-show="form.firstName.$valid")

							div(class="form-group")
								input(class="form-control input-lg", id="lastName", ng-model='vm.lastName', type='text', placeholder="{{ 'LAST_NAME' | translate }}")

							div(class="form-group has-feedback", ng-class="{ 'has-error': (form.username.$touched && form.username.$error.required || form.username.$error.email), 'has-success': form.username.$valid }")
								input(class="form-control input-lg", id="username", name="username", required, ng-model='vm.username', type='email', placeholder="{{ 'USERNAME' | translate }}")
								span(class="help-block", ng-show="form.username.$touched && form.username.$error.required") *{{ 'FIELD_REQUIRED' | translate }}
								span(class="help-block", ng-show="form.username.$touched && form.username.$error.email") *{{ 'FIELD_EMAIL' | translate }}
								span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true", ng-show="form.username.$invalid && form.username.$touched")
								span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true", ng-show="form.username.$valid")

							div(class="form-group has-feedback", ng-class="{ 'has-error': form.password1.$touched && form.password1.$error.required || (form.password1.$touched && form.password2.$touched && !vm.passwordsMatch()), 'has-success': form.password1.$valid && vm.passwordsMatch()}")
								input(class="form-control input-lg", id="password1", name="password1", required, ng-model='vm.password1', type='password', placeholder="{{ 'PASSWORD' | translate }}")
								span(class="help-block", ng-show="form.password1.$touched && form.password1.$error.required") *{{ 'FIELD_REQUIRED' | translate }}
								span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true", ng-show="form.password1.$invalid && form.password1.$touched || (form.password1.$touched && form.password2.$touched && !vm.passwordsMatch())")
								span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true", ng-show="form.password1.$valid && vm.passwordsMatch()")

							div(class="form-group has-feedback", ng-class="{ 'has-error': form.password2.$touched && form.password2.$error.required || (form.password1.$touched && form.password2.$touched && !vm.passwordsMatch()), 'has-success': form.password2.$valid && vm.passwordsMatch() }")
								input(class="form-control input-lg", id="password2", name="password2", required, ng-model='vm.password2', type='password', placeholder="{{ 'PASSWORD' | translate }}")
								span(class="help-block", ng-show="form.password2.$touched && form.password2.$error.required") *{{ 'FIELD_REQUIRED' | translate }}
								span(class="help-block", ng-show="form.password1.$touched && form.password2.$touched && (vm.password1 !== vm.password2)") *{{ 'PASSWORDS_DONT_MATCH' | translate }}
								span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true", ng-show="form.password2.$invalid && form.password2.$touched || (form.password1.$touched && form.password2.$touched && !vm.passwordsMatch())")
								span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true", ng-show="form.password2.$valid && vm.passwordsMatch()")

							button(class="btn btn-primary", type="submit", ng-disabled="form.$invalid") {{ 'SIGN_UP' | translate }}
