
<div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-header">{{ 'SETTINGS' | translate }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="sub-header">{{ 'PERSONAL_DATA' | translate }}</h2>
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'FIRST_NAME' | translate }}:</th>
              <th><a href="" editable-text="vm.firstName" onbeforesave="vm.updateUserData('first_name', $data)">{{ vm.firstName || 'NO_FIRST_NAME' }}</a></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>