form(class="form-horizonal", name="form", ng-submit="vm.create()", novalidate, editable-form)
  div(class="modal-header")
    h3(class="modal-title") {{ 'CREATE_PRODUCT_GROUP' | translate }}
  div(class="modal-body")
    div(class="row")
      div(class="col-sm-6")
        div(class="row form-group")
          label(class="col-sm-5", for="name") *{{ 'NAME' | translate }}:
          div(class="col-sm-7")
            input(class="form-control", id="name", required, ng-model="vm.name", type="text", placeholder="{{ 'NAME' | translate }}")
        div(class="row form-group")
          label(class="col-sm-5", for="description") {{ 'DESCRIPTION' | translate }}:
          div(class="col-sm-7")
            textarea(class="form-control", ng-model="vm.description", type="text", placeholder="{{ 'DESCRIPTION' | translate }}")
    div(class="row")
      div(class="col-sm-12")
        h4 {{ 'SELECT_PRODUCTS' | translate }}:

    div(class="row")
      div(class="col-sm-12")
        div(class="table-responsive")
          table(class="table table-striped")
            thead
              tr
                th
                th {{ 'NAME' | translate }}
                th(style="width: 30%;") {{ 'DESCRIPTION' | translate }}
                th(style="width: 20%;") {{ 'QUANTITIES' | translate }}
                th {{ 'PRICE_PER_PRODUCT' | translate }}
            tbody
              tr(ng-repeat="product in vm.products")
                td(style="width:5%;")
                  input(type="checkbox", ng-model="product.use", ng-change="vm.updateProductsInUse()")
                td {{ product.name }}
                td {{ product.description }}
                td
                  div(class="col-sm-8")
                    input(class="form-control", type="number", ng-model="product.quantity_in_group", min="1", value="1", ng-change="vm.updateProductsInUse()")
                td ${{ product.price_per_unit * product.quantity_in_group }}
            tfoot
              tr
                td(colspan="4")
                td
                  strong {{ 'TOTAL' | translate }}: &nbsp;
                  span ${{ vm.productPriceSum }}
  div(class="modal-footer")
    button(class="btn btn-primary btn-lg", type="submit", ng-disabled="form.$invalid || !vm.productsInUse") {{ 'CREATE' | translate }}
    button(class="btn btn-lg", type="button", ng-click="vm.cancel()") {{ 'CANCEL' | translate }}
