div(class="modal-header")
  h3(class="modal-title") {{ 'PRODUCT' | translate }}
div(class="modal-body")
  div(class="row")
    div(class="col-sm-12")
      div(class="table-responsive")
        table(class="table")
          tbody
            tr
              th {{ 'NAME' | translate }}
              td
                a(href="", editable-text="vm.product.name", onbeforesave="vm.updateProductData('name', $data)") {{ vm.product.name || 'NO_PRODUCT_NAME' }}
            tr
              th {{ 'PRICE_PER_PRODUCT' | translate }}
              td
                a(href="", editable-number="vm.product.price", e-step="0.01", onbeforesave="vm.updateProductData('price', $data)") ${{ vm.product.price }}
            tr
              th {{ 'DESCRIPTION' | translate }}
              td
                a(href="", editable-textarea="vm.product.description", onbeforesave="vm.updateProductData('description', $data)") {{ vm.product.description || 'N/A' }}

      div(class="table-responsive")
        table(class="table table-condensed")
          thead
            tr
              th {{ 'WAREHOUSE' | translate }}
              th {{ 'DESCRIPTION' | translate }}
              th {{ 'QUANTITY' | translate }}
          tbody
            tr(ng-repeat="stock in vm.stocks")
              td {{ stock.warehouse.name }}
              td {{ stock.warehouse.description || 'N/A' }}
              td {{ stock.product.quantity }}
          tfoot
            tr
              td
              td
              td
                strong {{ 'TOTAL' | translate }}: &nbsp;
                | {{ vm.total }}
div(class="modal-footer")
  button(class="btn btn-lg", type="button", ng-click="vm.cancel()") {{ 'CANCEL' | translate }}
