
<form name="form" ng-submit="vm.create()" novalidate="novalidate" class="form-horizonal">
  <div class="modal-header">
    <h3 class="modal-title">{{ 'CREATE_USER' | translate }}</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="row form-group">
          <label for="username" class="col-sm-5">*{{ 'USERNAME' | translate }}:</label>
          <div class="col-sm-5">
            <input id="username" required="required" ng-model="vm.username" type="email" placeholder="{{ 'USERNAME' | translate }}" class="form-control"/>
          </div>
        </div>
        <div class="row form-group">
          <label for="firstName" class="col-sm-5">*{{ 'FIRST_NAME' | translate }}:</label>
          <div class="col-sm-5">
            <input id="firstName" required="required" ng-model="vm.firstName" type="text" placeholder="{{ 'FIRST_NAME' | translate }}" class="form-control"/>
          </div>
        </div>
        <div class="row form-group">
          <label for="lastName" class="col-sm-5">{{ 'LAST_NAME' | translate }}:</label>
          <div class="col-sm-5">
            <input id="lastName" ng-model="vm.lastName" type="text" placeholder="{{ 'LAST_NAME' | translate }}" class="form-control"/>
          </div>
        </div>
        <div class="row form-group">
          <label for="newPassword1" class="col-sm-5">*{{ 'PASSWORD' | translate }}:</label>
          <div class="col-sm-5">
            <input id="newPassword1" required="required" ng-model="vm.password1" type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"/>
          </div>
        </div>
        <div class="row form-group">
          <label for="newPassword2" class="col-sm-5">*{{ 'REPEAT_PASSWORD' | translate }}:</label>
          <div class="col-sm-5">
            <input id="newPassword2" required="required" ng-model="vm.password2" type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"/>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input ng-model="vm.readOnly" type="checkbox"/>{{ 'READ_ONLY_ACCOUNT' | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{ 'CREATE' | translate }}</button>
    <button ng-click="vm.cancel()" class="btn btn-warning">{{ 'CANCEL' | translate }}</button>
  </div>
</form>