
<div class="modal-header">
  <h3 class="modal-title">{{ 'EDIT_PASSWORD' | translate }}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <form ng-submit="vm.confirm()" class="form-horizonal">
        <div class="row">
          <label for="newPassword1" class="col-sm-5">{{ 'NEW_PASSWORD' | translate }}:</label>
          <div class="col-sm-5">
            <input id="newPassword1" ng-model="vm.password1" type="password" placeholder="{{ 'NEW_PASSWORD' | translate }}" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <label for="newPassword2" class="col-sm-5">{{ 'REPEAT_NEW_PASSWORD' | translate }}:</label>
          <div class="col-sm-5">
            <input id="newPassword2" ng-model="vm.password2" type="password" placeholder="{{ 'NEW_PASSWORD' | translate }}" class="form-control"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="vm.confirm()" class="btn btn-primary">{{ 'CONFIRM' | translate }}</button>
  <button ng-click="vm.cancel()" class="btn btn-warning">{{ 'CANCEL' | translate }}</button>
</div>